* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #FFFFFF;
    --dark: #323238;
    --blue: #02799D;
    --gray: #E1E1E6; 
}

body {
    background-color: var(--bg);
}